<?php
/**
 * CompanyApi
 * PHP version 5
 *
 * @category Class
 * @package  vba_102
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Company API
 *
 * The VISA B2B Connect REST API allows developers to perform operations from a company or bank perspective.  The VISA B2B Connect API allows you to create and update profiles or retreive information that is relevant to you.
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace vba_102\api;

use \vba_102\ApiClient;
use \vba_102\ApiException;
use \vba_102\Configuration;
use \vba_102\ObjectSerializer;

/**
 * CompanyApi Class Doc Comment
 *
 * @category Class
 * @package  vba_102
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CompanyApi
{
    /**
     * API Client
     *
     * @var \vba_102\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \vba_102\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\vba_102\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \vba_102\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \vba_102\ApiClient $apiClient set the API client
     *
     * @return CompanyApi
     */
    public function setApiClient(\vba_102\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postaddCompany
     *
     * 
     *
     * @param \vba_102\model\AddCompanypostPayload $add_companypost_payload  (required)
     * @throws \vba_102\ApiException on non-2xx response
     * @return \vba_102\model\AddCompanypostResponse
     */
    public function postaddCompany($add_companypost_payload)
    {
        list($response) = $this->postaddCompanyWithHttpInfo($add_companypost_payload);
        return $response;
    }

    /**
     * Operation postaddCompanyWithHttpInfo
     *
     * 
     *
     * @param \vba_102\model\AddCompanypostPayload $add_companypost_payload  (required)
     * @throws \vba_102\ApiException on non-2xx response
     * @return array of \vba_102\model\AddCompanypostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postaddCompanyWithHttpInfo($add_companypost_payload)
    {
        // verify the required parameter 'add_companypost_payload' is set
        if ($add_companypost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $add_companypost_payload when calling postaddCompany');
        }
        // parse inputs
        $path = "/visab2bconnect/v1/companies";
        $resourcePath = "companies";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($add_companypost_payload)) {
            $_tempBody = $add_companypost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\vba_102\model\AddCompanypostResponse',
                '/visab2bconnect/v1/companies'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\vba_102\model\AddCompanypostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\vba_102\model\AddCompanypostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation puteditCompany
     *
     * 
     *
     * @param string $enterprise_id  (required)
     * @param \vba_102\model\EditCompanyputPayload $edit_companyput_payload  (required)
     * @throws \vba_102\ApiException on non-2xx response
     * @return \vba_102\model\EditCompanyputResponse
     */
    public function puteditCompany($enterprise_id, $edit_companyput_payload)
    {
        list($response) = $this->puteditCompanyWithHttpInfo($enterprise_id, $edit_companyput_payload);
        return $response;
    }

    /**
     * Operation puteditCompanyWithHttpInfo
     *
     * 
     *
     * @param string $enterprise_id  (required)
     * @param \vba_102\model\EditCompanyputPayload $edit_companyput_payload  (required)
     * @throws \vba_102\ApiException on non-2xx response
     * @return array of \vba_102\model\EditCompanyputResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function puteditCompanyWithHttpInfo($enterprise_id, $edit_companyput_payload)
    {
        // verify the required parameter 'enterprise_id' is set
        if ($enterprise_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $enterprise_id when calling puteditCompany');
        }
        // verify the required parameter 'edit_companyput_payload' is set
        if ($edit_companyput_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $edit_companyput_payload when calling puteditCompany');
        }
        // parse inputs
        $path = "/visab2bconnect/v1/companies/{enterpriseId}";
        $resourcePath = "companies/{enterpriseId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($enterprise_id !== null) {
            $path = str_replace(
                "{" . "enterpriseId" . "}",
                $this->apiClient->getSerializer()->toPathValue($enterprise_id),
                $path
            );
            $resourcePath = str_replace(
                "{" . "enterpriseId" . "}",
                $this->apiClient->getSerializer()->toPathValue($enterprise_id),
                $resourcePath
            );
        }
        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($edit_companyput_payload)) {
            $_tempBody = $edit_companyput_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\vba_102\model\EditCompanyputResponse',
                '/visab2bconnect/v1/companies/{enterpriseId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\vba_102\model\EditCompanyputResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\vba_102\model\EditCompanyputResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/