<?php
/**
 * Travel_notificationApi
 * PHP version 5
 *
 * @category Class
 * @package  tns_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Visa Travel Notification API
 *
 * Incorporate cardholder self-reported travel into your authorization decisions
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace tns_100\api;

use \tns_100\ApiClient;
use \tns_100\ApiException;
use \tns_100\Configuration;
use \tns_100\ObjectSerializer;

/**
 * Travel_notificationApi Class Doc Comment
 *
 * @category Class
 * @package  tns_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Travel_notificationApi
{
    /**
     * API Client
     *
     * @var \tns_100\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \tns_100\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\tns_100\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \tns_100\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \tns_100\ApiClient $apiClient set the API client
     *
     * @return Travel_notificationApi
     */
    public function setApiClient(\tns_100\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation deletedeleteTravel
     *
     * 
     *
     * @param \tns_100\model\DeleteTraveldeletePayload $delete_traveldelete_payload Deletes an Itineray for the User (required)
     * @throws \tns_100\ApiException on non-2xx response
     * @return \tns_100\model\DeleteTraveldeleteResponse
     */
    public function deletedeleteTravel($delete_traveldelete_payload)
    {
        list($response) = $this->deletedeleteTravelWithHttpInfo($delete_traveldelete_payload);
        return $response;
    }

    /**
     * Operation deletedeleteTravelWithHttpInfo
     *
     * 
     *
     * @param \tns_100\model\DeleteTraveldeletePayload $delete_traveldelete_payload Deletes an Itineray for the User (required)
     * @throws \tns_100\ApiException on non-2xx response
     * @return array of \tns_100\model\DeleteTraveldeleteResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deletedeleteTravelWithHttpInfo($delete_traveldelete_payload)
    {
        // verify the required parameter 'delete_traveldelete_payload' is set
        if ($delete_traveldelete_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $delete_traveldelete_payload when calling deletedeleteTravel');
        }
        // parse inputs
        $path = "/travelnotificationservice/v1/travelnotification/itinerary";
        $resourcePath = "v1/travelnotification/itinerary";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($delete_traveldelete_payload)) {
            $_tempBody = $delete_traveldelete_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\tns_100\model\DeleteTraveldeleteResponse',
                '/travelnotificationservice/v1/travelnotification/itinerary'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\tns_100\model\DeleteTraveldeleteResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\tns_100\model\DeleteTraveldeleteResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postretrieveTravel
     *
     * 
     *
     * @param \tns_100\model\RetrieveTravelpostPayload $retrieve_travelpost_payload  (required)
     * @throws \tns_100\ApiException on non-2xx response
     * @return \tns_100\model\RetrieveTravelpostResponse
     */
    public function postretrieveTravel($retrieve_travelpost_payload)
    {
        list($response) = $this->postretrieveTravelWithHttpInfo($retrieve_travelpost_payload);
        return $response;
    }

    /**
     * Operation postretrieveTravelWithHttpInfo
     *
     * 
     *
     * @param \tns_100\model\RetrieveTravelpostPayload $retrieve_travelpost_payload  (required)
     * @throws \tns_100\ApiException on non-2xx response
     * @return array of \tns_100\model\RetrieveTravelpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postretrieveTravelWithHttpInfo($retrieve_travelpost_payload)
    {
        // verify the required parameter 'retrieve_travelpost_payload' is set
        if ($retrieve_travelpost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $retrieve_travelpost_payload when calling postretrieveTravel');
        }
        // parse inputs
        $path = "/travelnotificationservice/v1/travelnotification/retrievetravel";
        $resourcePath = "v1/travelnotification/retrievetravel";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($retrieve_travelpost_payload)) {
            $_tempBody = $retrieve_travelpost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\tns_100\model\RetrieveTravelpostResponse',
                '/travelnotificationservice/v1/travelnotification/retrievetravel'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\tns_100\model\RetrieveTravelpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\tns_100\model\RetrieveTravelpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/