<?php
/**
 * Merchant_benchmarkApi
 * PHP version 5
 *
 * @category Class
 * @package  mb_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Merchant Benchmark API
 *
 * Deliver Visa’s data insights and other key analytics to our clients through the Visa Developer Platform
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace mb_100\api;

use \mb_100\ApiClient;
use \mb_100\ApiException;
use \mb_100\Configuration;
use \mb_100\ObjectSerializer;

/**
 * Merchant_benchmarkApi Class Doc Comment
 *
 * @category Class
 * @package  mb_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Merchant_benchmarkApi
{
    /**
     * API Client
     *
     * @var \mb_100\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \mb_100\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\mb_100\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \mb_100\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \mb_100\ApiClient $apiClient set the API client
     *
     * @return Merchant_benchmarkApi
     */
    public function setApiClient(\mb_100\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postmerchantBenchmark
     *
     * 
     *
     * @param \mb_100\model\MerchantBenchmarkpostPayload $merchant_benchmarkpost_payload Merchant Benchmark request payload (required)
     * @throws \mb_100\ApiException on non-2xx response
     * @return \mb_100\model\MerchantBenchmarkpostResponse
     */
    public function postmerchantBenchmark($merchant_benchmarkpost_payload)
    {
        list($response) = $this->postmerchantBenchmarkWithHttpInfo($merchant_benchmarkpost_payload);
        return $response;
    }

    /**
     * Operation postmerchantBenchmarkWithHttpInfo
     *
     * 
     *
     * @param \mb_100\model\MerchantBenchmarkpostPayload $merchant_benchmarkpost_payload Merchant Benchmark request payload (required)
     * @throws \mb_100\ApiException on non-2xx response
     * @return array of \mb_100\model\MerchantBenchmarkpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postmerchantBenchmarkWithHttpInfo($merchant_benchmarkpost_payload)
    {
        // verify the required parameter 'merchant_benchmarkpost_payload' is set
        if ($merchant_benchmarkpost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $merchant_benchmarkpost_payload when calling postmerchantBenchmark');
        }
        // parse inputs
        $path = "/merchantmeasurement/v1/merchantbenchmark";
        $resourcePath = "merchantbenchmark";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($merchant_benchmarkpost_payload)) {
            $_tempBody = $merchant_benchmarkpost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\mb_100\model\MerchantBenchmarkpostResponse',
                '/merchantmeasurement/v1/merchantbenchmark'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\mb_100\model\MerchantBenchmarkpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\mb_100\model\MerchantBenchmarkpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/