<?php
/**
 * Card_inquiryApi
 * PHP version 5
 *
 * @category Class
 * @package  dcas_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Card Inquiry API
 *
 * Lookup and return list of PANs associated with an Account Number and Routing Number
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace dcas_100\api;

use \dcas_100\ApiClient;
use \dcas_100\ApiException;
use \dcas_100\Configuration;
use \dcas_100\ObjectSerializer;

/**
 * Card_inquiryApi Class Doc Comment
 *
 * @category Class
 * @package  dcas_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Card_inquiryApi
{
    /**
     * API Client
     *
     * @var \dcas_100\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \dcas_100\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\dcas_100\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \dcas_100\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \dcas_100\ApiClient $apiClient set the API client
     *
     * @return Card_inquiryApi
     */
    public function setApiClient(\dcas_100\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postdebitCardInquiry
     *
     * 
     *
     * @param \dcas_100\model\DebitCardInquirypostPayload $debit_card_inquirypost_payload Request containing an Account Number and Routing Number (required)
     * @throws \dcas_100\ApiException on non-2xx response
     * @return \dcas_100\model\DebitCardInquirypostResponse
     */
    public function postdebitCardInquiry($debit_card_inquirypost_payload)
    {
        list($response) = $this->postdebitCardInquiryWithHttpInfo($debit_card_inquirypost_payload);
        return $response;
    }

    /**
     * Operation postdebitCardInquiryWithHttpInfo
     *
     * 
     *
     * @param \dcas_100\model\DebitCardInquirypostPayload $debit_card_inquirypost_payload Request containing an Account Number and Routing Number (required)
     * @throws \dcas_100\ApiException on non-2xx response
     * @return array of \dcas_100\model\DebitCardInquirypostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postdebitCardInquiryWithHttpInfo($debit_card_inquirypost_payload)
    {
        // verify the required parameter 'debit_card_inquirypost_payload' is set
        if ($debit_card_inquirypost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $debit_card_inquirypost_payload when calling postdebitCardInquiry');
        }
        // parse inputs
        $path = "/dcas/cardinquiry/v1/accounts/debitcardinquiry";
        $resourcePath = "accounts/debitcardinquiry";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($debit_card_inquirypost_payload)) {
            $_tempBody = $debit_card_inquirypost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\dcas_100\model\DebitCardInquirypostResponse',
                '/dcas/cardinquiry/v1/accounts/debitcardinquiry'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\dcas_100\model\DebitCardInquirypostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\dcas_100\model\DebitCardInquirypostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/