<?php
/**
 * Sms_searchApi
 * PHP version 5
 *
 * @category Class
 * @package  sms_101
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Visa Supplier Matching Service Bulk API
 *
 * VISA Supplier Matching Service
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace sms_101\api;

use \sms_101\ApiClient;
use \sms_101\ApiException;
use \sms_101\Configuration;
use \sms_101\ObjectSerializer;

/**
 * Sms_searchApi Class Doc Comment
 *
 * @category Class
 * @package  sms_101
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Sms_searchApi
{
    /**
     * API Client
     *
     * @var \sms_101\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \sms_101\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\sms_101\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \sms_101\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \sms_101\ApiClient $apiClient set the API client
     *
     * @return Sms_searchApi
     */
    public function setApiClient(\sms_101\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getdownload
     *
     * 
     *
     * @param string $input_file_id Id of request file supplied at time of upload (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return \sms_101\model\DownloadgetResponse
     */
    public function getdownload($input_file_id)
    {
        list($response) = $this->getdownloadWithHttpInfo($input_file_id);
        return $response;
    }

    /**
     * Operation getdownloadWithHttpInfo
     *
     * 
     *
     * @param string $input_file_id Id of request file supplied at time of upload (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return array of \sms_101\model\DownloadgetResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getdownloadWithHttpInfo($input_file_id)
    {
        // verify the required parameter 'input_file_id' is set
        if ($input_file_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $input_file_id when calling getdownload');
        }
        // parse inputs
        $path = "/visasuppliermatchingservice/v1/download";
        $resourcePath = "download";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($input_file_id !== null) {
            $queryParams['inputFileId'] = $this->apiClient->getSerializer()->toQueryValue($input_file_id);
        }
        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\sms_101\model\DownloadgetResponse',
                '/visasuppliermatchingservice/v1/download'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\sms_101\model\DownloadgetResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\sms_101\model\DownloadgetResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getstatus
     *
     * 
     *
     * @param string $file_id Otf Id of request file (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return \sms_101\model\StatusgetResponse
     */
    public function getstatus($file_id)
    {
        list($response) = $this->getstatusWithHttpInfo($file_id);
        return $response;
    }

    /**
     * Operation getstatusWithHttpInfo
     *
     * 
     *
     * @param string $file_id Otf Id of request file (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return array of \sms_101\model\StatusgetResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getstatusWithHttpInfo($file_id)
    {
        // verify the required parameter 'file_id' is set
        if ($file_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file_id when calling getstatus');
        }
        // parse inputs
        $path = "/visasuppliermatchingservice/v1/status";
        $resourcePath = "status";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($file_id !== null) {
            $queryParams['fileId'] = $this->apiClient->getSerializer()->toQueryValue($file_id);
        }
        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\sms_101\model\StatusgetResponse',
                '/visasuppliermatchingservice/v1/status'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\sms_101\model\StatusgetResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\sms_101\model\StatusgetResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postupload
     *
     * 
     *
     * @param string $country_code Default Country Code for this file (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return \sms_101\model\UploadpostResponse
     */
    public function postupload($country_code)
    {
        list($response) = $this->postuploadWithHttpInfo($country_code);
        return $response;
    }

    /**
     * Operation postuploadWithHttpInfo
     *
     * 
     *
     * @param string $country_code Default Country Code for this file (required)
     * @throws \sms_101\ApiException on non-2xx response
     * @return array of \sms_101\model\UploadpostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postuploadWithHttpInfo($country_code)
    {
        // verify the required parameter 'country_code' is set
        if ($country_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $country_code when calling postupload');
        }
        // parse inputs
        $path = "/visasuppliermatchingservice/v1/upload";
        $resourcePath = "upload";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($country_code !== null) {
            $queryParams['countryCode'] = $this->apiClient->getSerializer()->toQueryValue($country_code);
        }
        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\sms_101\model\UploadpostResponse',
                '/visasuppliermatchingservice/v1/upload'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\sms_101\model\UploadpostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\sms_101\model\UploadpostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/