<?php
/**
 * Visa_card_eligibility_iframeApi
 * PHP version 5
 *
 * @category Class
 * @package  vces_101
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Visa Card Eligibility iFrame API
 *
 * Visa Card Eligibility Service REST iFrame API
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace vces_101\api;

use \vces_101\ApiClient;
use \vces_101\ApiException;
use \vces_101\Configuration;
use \vces_101\ObjectSerializer;

/**
 * Visa_card_eligibility_iframeApi Class Doc Comment
 *
 * @category Class
 * @package  vces_101
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class Visa_card_eligibility_iframeApi
{
    /**
     * API Client
     *
     * @var \vces_101\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \vces_101\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\vces_101\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \vces_101\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \vces_101\ApiClient $apiClient set the API client
     *
     * @return Visa_card_eligibility_iframeApi
     */
    public function setApiClient(\vces_101\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postgetValiadationStatus
     *
     * 
     *
     * @param \vces_101\model\GetValiadationStatuspostPayload $get_valiadation_statuspost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return \vces_101\model\GetValiadationStatuspostResponse
     */
    public function postgetValiadationStatus($get_valiadation_statuspost_payload)
    {
        list($response) = $this->postgetValiadationStatusWithHttpInfo($get_valiadation_statuspost_payload);
        return $response;
    }

    /**
     * Operation postgetValiadationStatusWithHttpInfo
     *
     * 
     *
     * @param \vces_101\model\GetValiadationStatuspostPayload $get_valiadation_statuspost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return array of \vces_101\model\GetValiadationStatuspostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postgetValiadationStatusWithHttpInfo($get_valiadation_statuspost_payload)
    {
        // verify the required parameter 'get_valiadation_statuspost_payload' is set
        if ($get_valiadation_statuspost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $get_valiadation_statuspost_payload when calling postgetValiadationStatus');
        }
        // parse inputs
        $path = "/visacardeligibilityservices/v1/eligibility/validateresult";
        $resourcePath = "eligibility/validateresult";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($get_valiadation_statuspost_payload)) {
            $_tempBody = $get_valiadation_statuspost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\vces_101\model\GetValiadationStatuspostResponse',
                '/visacardeligibilityservices/v1/eligibility/validateresult'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\vces_101\model\GetValiadationStatuspostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\vces_101\model\GetValiadationStatuspostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postredeemOfferViaIframe
     *
     * 
     *
     * @param \vces_101\model\RedeemOfferViaIframepostPayload $redeem_offer_via_iframepost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return \vces_101\model\RedeemOfferViaIframepostResponse
     */
    public function postredeemOfferViaIframe($redeem_offer_via_iframepost_payload)
    {
        list($response) = $this->postredeemOfferViaIframeWithHttpInfo($redeem_offer_via_iframepost_payload);
        return $response;
    }

    /**
     * Operation postredeemOfferViaIframeWithHttpInfo
     *
     * 
     *
     * @param \vces_101\model\RedeemOfferViaIframepostPayload $redeem_offer_via_iframepost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return array of \vces_101\model\RedeemOfferViaIframepostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postredeemOfferViaIframeWithHttpInfo($redeem_offer_via_iframepost_payload)
    {
        // verify the required parameter 'redeem_offer_via_iframepost_payload' is set
        if ($redeem_offer_via_iframepost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $redeem_offer_via_iframepost_payload when calling postredeemOfferViaIframe');
        }
        // parse inputs
        $path = "/visacardeligibilityservices/v1/promo/iframeredemption";
        $resourcePath = "promo/iframeredemption";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($redeem_offer_via_iframepost_payload)) {
            $_tempBody = $redeem_offer_via_iframepost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\vces_101\model\RedeemOfferViaIframepostResponse',
                '/visacardeligibilityservices/v1/promo/iframeredemption'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\vces_101\model\RedeemOfferViaIframepostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\vces_101\model\RedeemOfferViaIframepostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postregisterIframe
     *
     * 
     *
     * @param \vces_101\model\RegisterIframepostPayload $register_iframepost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return \vces_101\model\RegisterIframepostResponse
     */
    public function postregisterIframe($register_iframepost_payload)
    {
        list($response) = $this->postregisterIframeWithHttpInfo($register_iframepost_payload);
        return $response;
    }

    /**
     * Operation postregisterIframeWithHttpInfo
     *
     * 
     *
     * @param \vces_101\model\RegisterIframepostPayload $register_iframepost_payload Request body (required)
     * @throws \vces_101\ApiException on non-2xx response
     * @return array of \vces_101\model\RegisterIframepostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postregisterIframeWithHttpInfo($register_iframepost_payload)
    {
        // verify the required parameter 'register_iframepost_payload' is set
        if ($register_iframepost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $register_iframepost_payload when calling postregisterIframe');
        }
        // parse inputs
        $path = "/visacardeligibilityservices/v1/registeriframe/token";
        $resourcePath = "registeriframe/token";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($register_iframepost_payload)) {
            $_tempBody = $register_iframepost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\vces_101\model\RegisterIframepostResponse',
                '/visacardeligibilityservices/v1/registeriframe/token'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\vces_101\model\RegisterIframepostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\vces_101\model\RegisterIframepostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/