<?php
/**
 * AdjustmentApi
 * PHP version 5
 *
 * @category Class
 * @package  ads_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Adjustment API
 *
 * The AdjustReverseFundsTransactions resource credits (pushes back) funds to the sender&apos;s Visa account by initiating a financial message called an Account Funding Transaction Reversal (AFTR) without the 24 hours limitation in the AFTR.
 *
 * OpenAPI spec version: v1
 * Contact: 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace ads_100\api;

use \ads_100\ApiClient;
use \ads_100\ApiException;
use \ads_100\Configuration;
use \ads_100\ObjectSerializer;

/**
 * AdjustmentApi Class Doc Comment
 *
 * @category Class
 * @package  ads_100
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AdjustmentApi
{
    /**
     * API Client
     *
     * @var \ads_100\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \ads_100\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\ads_100\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \ads_100\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \ads_100\ApiClient $apiClient set the API client
     *
     * @return AdjustmentApi
     */
    public function setApiClient(\ads_100\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postadjustreversefunds
     *
     * 
     *
     * @param \ads_100\model\AdjustreversefundspostPayload $adjustreversefundspost_payload Request body for creating adjustment of funds transfer (required)
     * @throws \ads_100\ApiException on non-2xx response
     * @return \ads_100\model\AdjustreversefundspostResponse
     */
    public function postadjustreversefunds($adjustreversefundspost_payload)
    {
        list($response) = $this->postadjustreversefundsWithHttpInfo($adjustreversefundspost_payload);
        return $response;
    }

    /**
     * Operation postadjustreversefundsWithHttpInfo
     *
     * 
     *
     * @param \ads_100\model\AdjustreversefundspostPayload $adjustreversefundspost_payload Request body for creating adjustment of funds transfer (required)
     * @throws \ads_100\ApiException on non-2xx response
     * @return array of \ads_100\model\AdjustreversefundspostResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postadjustreversefundsWithHttpInfo($adjustreversefundspost_payload)
    {
        // verify the required parameter 'adjustreversefundspost_payload' is set
        if ($adjustreversefundspost_payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $adjustreversefundspost_payload when calling postadjustreversefunds');
        }
        // parse inputs
        $path = "/visadirect/v1/adjustment";
        $resourcePath = "adjustment";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $path = str_replace("{format}", "json", $path);
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($adjustreversefundspost_payload)) {
            $_tempBody = $adjustreversefundspost_payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }

        if (sizeof($queryParams) !== 0){
            ksort($queryParams);
        }

        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $path,
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ads_100\model\AdjustreversefundspostResponse',
                '/visadirect/v1/adjustment'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\ads_100\model\AdjustreversefundspostResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ads_100\model\AdjustreversefundspostResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
/**
* --------------------------------------------------------------------------------
*
* © Copyright 2018 Visa. All Rights Reserved.
*
* NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
* and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
* rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
*
* By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
* (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
* programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
* THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
* FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
* --------------------------------------------------------------------------------
*/