.img_footer1{
	background-image: url(../img/footer1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	/*background-position: bottom bottom;
	background-attachment: fixed;*/
	background-size: cover;
	background-color: #66999;
}	